# Java compiled files

*.class

*.log


# Maven output

target/

pom.xml.tag

pom.xml.releaseBackup

pom.xml.versionsBackup

release.properties


# Eclipse files

.project

.classpath

.settings/

bin/


# OS-specific

.DS_Store

Thumbs.db

